/* ------------------------------------------------------------------
Colors
------------------------------------------------------------------ */
$vermelho: #880708;
$verde: #006843;
$bege: #ebe2ba;
$marrom: #794e0a;
$salmon: #ffab62;
$cinza-medio: #bbc;
$preto:  #333333;
$gelo: #f2eded;
$cinza: #ccc;
$cinza-medio: #777;
$azul: #003366;
$preto-fosco: #333333;




/* ------------------------------------------------------------------
Class colors
------------------------------------------------------------------ */
.vermelho {
    color: $vermelho;
}