.header {
    position: relative;
    
    .menu-opcoes {
        position: absolute;
        bottom: 0;
        right: 0;
        a {
            color: $azul;
        }
        ul {
            font-size: 15px;
            li {
                display: inline;
                margin-left: 20px;
            }
        }
    }
    .sacola {
        background: url(../img/sacola.png) no-repeat top right;
        font-size: 10px;
        padding-right: 35px;
        text-align: right;
        width: 140px;
        
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 8px;
    }
}