<header class="header">
    <nav class="menu-opcoes menu-cabecalho container">
        <h1><img class="" src="{{site.baseurl}}Repositorio/dist/img/logo.png" alt="Mirror Fashion"></h1>
        <p class="sacola">Nenhum item na sacola de compras</p>
        <ul>
            <li><a href="{{site.baseurl}}">Sua Conta</a></li>
            <li><a href="{{site.baseurl}}">Lista de Desejos</a></li>
            <li><a href="{{site.baseurl}}">Cartão Fidelidade</a></li>
            <li><a href="{{site.baseurl}}sobre">Sobre</a></li>
            <li><a href="{{site.baseurl}}">Ajuda</a></li>
        </ul>
    </nav>
</header>